.cart-button{
    margin: 25px;
}

.goods-list {
    display: flex;
    justify-content: space-around;
}

.goods-item{
    display: block;
    padding: 10px;
    border: solid 1px rgb(201, 199, 199);
    border-radius: 10px;
}